/* ========== APP specific css ============*/
.sdcp-form-field-label-font {
    --dui-form-field-label-font: var(--dui-font-italic-sm);
}
.sdcp-font-italic-sm {
    font: var(--dui-font-italic-sm);
}
.sdcp-changed {
	border: 1px solid red !important;
}
.sdcp-form-field[readonly] .dui:not(.dui-field-error):not(.dui-field-helper) {
/*    color: var(--dui-form-field-color);
    background-color: transparent; */
    cursor: var(--dui-clickable-cursor);
}

.sdcp-datatable-edit {
	padding: 0px;
	margin: 0px;
}

.dui-datatable-row-editable .dui-form-field {
	margin: 0;
	padding: 0;
	--dui-form-field-wrapper-padding: 0;
}

.sdcp-datatable-condensed-tiny .dui-datatable-td {
	padding: 0;
	padding-top: .05rem;
	padding-bottom: .05rem;
	font-size: var(--dui-spc-4);
	/* line-height: normal; */
}
.sdcp-datatable-condensed-med .dui-datatable-td {
    padding: var(--dui-spc-1);
    line-height: var(--dui-spc-3);
}
.sdcp-border {
	border: var(--dui-form-field-border);
	border-color: var(--dui-accent);
	padding: var(--dui-form-field-wrapper-padding);
	border-radius: var(--dui-form-field-wrapper-radius);
	gap: var(--dui-form-field-wrapper-gap);
}
.sdcp-border-bottom {
	border-bottom: 1px solid;
	border-color: var(--dui-accent);
	border-radius: 0;
}
.sdcp-ro-overlay {
	background: red;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 15%;	
}
.sdcp-changed-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99999;
}
.sdcp-word-wrap {
	text-wrap: unset !important;
	word-wrap: break-word !important;
	overflow-wrap: break-word !important;
}
td { white-space:pre-wrap }
.sdcp-hide-drop .dui.mdi.dui-form-select-drop-arrow {
	display: none;
}
.nobackground {
	background: unset !important;
}

.lp-picker-element[readonly] .dui:not(.dui-field-error):not(.dui-field-helper) {
	cursor: var(--dui-clickable-cursor);
	margin: 0;
	padding: 0;
	gap: 0;
}

.lp-picker-wrapper {
	border: none;
	border-bottom: 1px solid;
	border-color: var(--dui-accent);
	border-radius: 0;
	min-width: 100px;
}

.lp-picker-div {
	/* border: var(--dui-form-field-border); */
	gap: 0;
}

.minicheck {
	margin-bottom: 0;
	cursor: pointer;
	align-self: center;
}

.minitext {
	margin-bottom: 0;
	text-wrap: nowrap;
	flex-direction: column-reverse;
}
.minitext .dui-field-input-wrapper {
	margin-right: 1px;
	padding: 0;
	border: 0;
	border-bottom: 1px solid;
	border-color: var(--dui-accent);
	border-radius: 0;
	min-height: 28px;
}
.minitext .dui-field-input {
	line-height: normal;
	min-height: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}
.minitext .dui-field-label {
	line-height: normal;
	min-height: 0;
	color: var(--dui-form-field-placeholder-color);
}
.minitext .error {
	color:red;
}
.minitext .dui-field-input:focus {
	background: var(--sdcp-mini-field-bg);
}
/* .dui-form-field:focus-within .dui-field-input-wrapper {
    border: var(--dui-form-field-focused-border);
}*/
.minitext .dui-field-input-wrapper:focus-within {
	border: 0;
	border-bottom: 1px solid;
	border-color: var(--dui-accent);
	border-radius: 0;
	background: var(--sdcp-mini-field-bg);
}
.minitext .dui-form-select.dui-clearable .dui.mdi.dui-form-select-clear {
	display: block;
	font-size: xx-small;
}

.dui-colors-light {
	--sdcp-mini-field-bg: var(--dui-accent-l-4);
}
.dui-colors-dark {
	--sdcp-mini-field-bg: var(--dui-accent-d-3);
}

.minitab .dui-tab-anchor {
	padding: 5px;
	padding-right: 10px;
}
.minitab .dui-tab-item {
	border-right: 1px solid;
	border-top: 1px solid;
	border-left: 1px solid;
	border-top-right-radius: var(--dui-form-field-wrapper-radius);
	border-top-left-radius: var(--dui-form-field-wrapper-radius);
	border-color: grey;
}
.minitab .dui-tab-item.dui-active {
	border-color: var(--dui-accent);
}

.numberCircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 21.6px;
    border: 2px solid red;
    color: white;
    background: red;
    position: absolute;
    margin: auto;
    top: 5px;
    right: -10px;
    left: 0;
}

.dui-dialog-backdrop {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .9;
}

.sdcp-tooltip .dui-tooltip {
	color: var(--dui-fg);
	border-color: var(--dui-clr-white);
	box-shadow: var(--dui-box-shadow-4);
	background-color: var(--dui-bg, var(--dui-clr-dominant));
	padding: 10px;
}

.sdcp-tooltip .dui-tooltip .dui-popover-wrapper {
	padding: 10px;
}

.sdcp-tooltip .dui-tooltip .dui-popover-arrow {
	border-color: var(--dui-tooltip-default-background);
	border-width: var(--dui-tooltip-arrow-size);
}

.sdcp-tooltip {
	color: var(--dui-fg);
	border-color: var(--dui-clr-white);
	box-shadow: var(--dui-box-shadow-4);
	background-color: var(--dui-bg, var(--dui-clr-dominant));
	padding: 10px;
}

.sdcp-tooltip .dui-popover-wrapper {
	padding: 10px;
}

.sdcp-tooltip .dui-popover-arrow {
	border-color: var(--dui-tooltip-default-background);
	border-width: var(--dui-tooltip-arrow-size);
}

/* ---------------------------- Overrides --------------------------*/
.dui-field-input {
	min-height: 0;
}
.dui-field-label {
	line-height: normal;
	min-height: 0;
	color: var(--dui-form-field-placeholder-color);
}


.dui-slide-indicator {
	border: 1px solid var(--dui-accent);
}

.dui-slide-indicator.dui-active {
	background: var(--dui-accent);
}

.dui-carousel-control {
	top: auto;
}
.dui-carousel-indicators {
	bottom: 0;
	left: 15%;
	right: 15%;
	width: 70%;
}
.dui-carousel-inner>.dui-slide>img.dui,
.dui-carousel-inner>.dui-slide->a.dui>img.dui,
.dui-carousel-inner>.dui-slide->picture.dui img.dui,
.dui-carousel-inner>.dui-slide->a>picture.dui img.dui {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
	object-fit: contain;
    vertical-align: middle;
    border: 0;
}

/*
.dui-menu-item:focus:not(.dui-hover-disabled),
.dui-menu-item:focus-within:not(.dui-hover-disabled) {
	color: var(--dui-color);
	background: var(--dui-background);
}

.dui-menu-item:hover:not(.dui-hover-disabled) {
	outline: none;
	background-color: var(--dui-menu-item-hover-bg-color);
	color: var(--dui-menu-item-hover-color);
}
*/

.dui-theme-default {
	--dui-popover-arrow-size: var(--dui-spc-2_5);
	--dui-tooltip-arrow-size: var(--dui-spc-2);
	--dui-popover-position-offset: var(--dui-spc-2_5);
	--dui-tooltip-default-background: var(--dui-clr-black);
	--dui-tooltip-default-color: var(--dui-clr-white);
		
/* ====================== Spacing ========================= */
	--dui-spc-0: 0;
	--dui-spc-px: 1px;
	--dui-spc-2px: 2px;
	--dui-spc-4px: 4px;
	--dui-spc-8px: 8px;
	--dui-spc-9999px: 9999px;
	--dui-spc-0_5: 0.1rem;
	--dui-spc-1: 0.2rem;
	--dui-spc-1_5: 0.33rem;
	--dui-spc-2: 0.45rem;
	--dui-spc-2_5: 0.56rem;
	--dui-spc-3: 0.67rem;
	--dui-spc-3_5: 0.79rem;
	--dui-spc-4: .9rem;
	--dui-spc-5: 1rem;
	--dui-spc-6: 1.35rem;
	--dui-spc-7: 1.575rem;
	--dui-spc-8: 1.8rem;
	--dui-spc-9: 2.025rem;
	--dui-spc-10: 2.25rem;
	--dui-spc-11: 2.475rem;
	--dui-spc-12: 2.7rem;
	--dui-spc-14: 3.15rem;
	--dui-spc-16: 3.6rem;
	--dui-spc-20: 4.5rem;
	--dui-spc-24: 5.4rem;
	--dui-spc-28: 6.3rem;
	--dui-spc-32: 7.2rem;
	--dui-spc-36: 8.1rem;
	--dui-spc-40: .9rem;
	--dui-spc-44: .99rem;
	--dui-spc-48: 10.8rem;
	--dui-spc-52: 11.7rem;
	--dui-spc-56: 12.6rem;
	--dui-spc-60: 13.5rem;
	--dui-spc-64: 14.5rem;
	--dui-spc-72: 16.2rem;
	--dui-spc-80: 18rem;
	--dui-spc-96: 21.6rem;
	--dui-spc-1_2p: 50%;
	--dui-spc-1_3p: 33.333333%;
	--dui-spc-2_3p: 66.666667%;
	--dui-spc-1_4p: 25%;
	--dui-spc-3_4p: 75%;
	--dui-spc-full: 100%;
}
